<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">



{{- partial "head.html" . -}}

<body id="body">


{{ "<!-- Google Tag Manager (noscript) ## baseof.html ##--> " | safeHTML }}
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7C5FGBX" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
{{ "<!-- End Google Tag Manager (noscript) --> " | safeHTML }}

    
{{ partial "preloader.html" . }}

{{ "<!-- HEADER partial --> " | safeHTML }}

    {{- partial "header.html" . -}}
    <div id="content">
        {{- block "main" . }}{{- end }}
    </div>

{{ " <!-- FOOTER partial --> "| safeHTML }}
{{- partial "footer.html" . -}}


</body>

</html>