{{ if .Site.Params.hero.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-area" style="padding: 90px; padding-bottom:150px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="video-player">
                    <img class="img-fluid rounded" src="{{ with .Site.Params.hero.videoThumb }}{{.| absURL }}{{ end }}" alt="video-thumb">
                    <a class="play-icon" href="javascript:void(0)">
                        <i class="tf-ion-play" data-video="{{ with .Site.Params.hero.videoURL }}{{.}}{{ end }}?autoplay=1"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    {{ with .Site.Params.hero.heading }}
                        <h2 style="color: #0050AA;">{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.hero.description }}
                        <h3>{{ . }}</h3>
                    {{ end }}
                    {{ if .Site.Params.hero.button }}
                        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                            <li class="list-inline-item">
                                <a href="{{ with .Site.Params.hero.btnURL }}{{.}}{{ end }}" target="_blank" class="btn btn-main">{{ with .Site.Params.hero.btnText }}{{.}}{{ end }}</a>
                            </li>
                        </ul>
                    {{ end }} 
                    <br> <br> 
                    <div class="block" style="background-color: rgb(255, 255, 255); border-radius: 4px;">
                    <br>  <h5 style="color: rgb(31, 37, 50)"> Organizatorzy </h5> <br>

                    <h2> <img src="{{ .Site.Params.logo_pmi | absURL }}" alt="{{ .Site.Title }}">
                        <img src="{{ .Site.Params.logo_umk | absURL }}" alt="{{ .Site.Title }}">
                    </h2>
                    <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}