{{ if .Site.Params.hero.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="video-player">
                    <img class="img-fluid rounded" src="{{ with .Site.Params.hero.videoThumb }}{{.| absURL }}{{ end }}" alt="video-thumb">
                    <!--
                    <a class="play-icon" href="javascript:void(0)">
                        <i class="tf-ion-play" data-video="{{ with .Site.Params.hero.videoURL }}{{.}}{{ end }}?autoplay=1"></i>
                    </a>-->
                    <br><br><br>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    {{ with .Site.Params.hero.heading }}
                        <h2 style="color: #aa2896; font-weight: bolder;">{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.hero.description }}
                        <h3>{{ . }}</h3>
                    {{ end }}

                    {{ if .Site.Params.hero.button }}
                        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                            <li class="list-inline-item">
                                <a href="{{ with .Site.Params.hero.btnURL }}{{.}}{{ end }}" target="_blank" class="btn btn-main">{{ with .Site.Params.hero.btnText }}{{.}}{{ end }}</a>
                            </li>
                        </ul>
                    {{ end }} 
                    <br> 
                    {{ $data := index .Site.Data }}
                    {{ with $data.agenda }}
                    {{ if .enable }}
                    <h3 style="font-size: larger; letter-spacing: 0.1em; "> Zapraszamy na: </h3>
                    <h3 style="font-size: medium"> {{ .day1_date }}  <br> <span style="font-size: larger; letter-spacing: 0.1em; color: #DB81D2;" >{{  .day1_title }} </span>  </h3>
                    <h3 style="font-size: medium"> {{ .day2_date }}  <br> <span style="font-size: larger; letter-spacing: 0.1em; color: #DB81D2; ">{{  .day2_title }}  {{ .day2_title_part2}} </span></h3>

                    {{ end }}
                    {{ end }}
                <!-- key dates presented -->
                    <br> 
                    <div class="block" style="background-color: rgb(255, 255, 255); border-radius: 4px; padding-left: 10px; padding-right: 10px;">
                        
                    <br>  <h5 style="color: rgb(31, 37, 50)"> Organizatorzy </h5> <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="mx-auto d-block" src="{{ .Site.Params.logo_pmi | absURL }}" alt="{{ .Site.Title }}">
                        </div> 
                        
                        <div class="col-md-6 col-sm-12">
                        <img class="mx-auto d-block" src="{{ .Site.Params.logo_umk | absURL }}" alt="{{ .Site.Title }}">
                        </div>
                    </div>
                    <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}