{{ define "main" }}

  {{ partial "hero.html" . }}

  {{ partial "about-conf.html" . }}
  <div id="Prelegenci"></div>
  {{ partial "feature.html" . }}

  {{ partial "about.html" . }}

  <div id="Agenda"></div>
  {{ partial "agenda.html" . }}

  <!-- Partnerzy i Sponsorzy -->

  <div id="Partnerzy"></div>
  {{ partial "partnerzy.html" . }}

  <div id="Zespol"></div>
  <!--partial "team.html" . -->

  <div id="Bilety"></div>
  {{ partial "pricing.html" . }}

  {{ partial "testimonial.html" . }}

  {{ partial "blog.html" . }}
  
  <div id="Lokalizacja"></div>
  {{ partial "contact.html" . }}

{{ end }}