{{ define "main" }}

  {{ partial "hero.html" . }}

  {{ partial "about-sm.html" . }}
  <div id="Prelegenci"></div>
  {{ partial "feature.html" . }}

  {{ partial "about.html" . }}

  <div id="Agenda"></div>
  {{ partial "workingprocess.html" . }}

  <div id="Partnerzy"></div>
  {{ partial "portfolio.html" . }}

  <div id="Zespol"></div>
  {{ partial "team.html" . }}

  {{ partial "pricing.html" . }}

  {{ partial "testimonial.html" . }}

  {{ partial "blog.html" . }}

  {{ partial "contact.html" . }}

{{ end }}